*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #D5E1EF;
    padding: 1.2em;
}

main{
   padding: 1.25rem;
   border-radius: 0.5rem;
   margin-bottom: 1.1rem;
}

.card{
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    width: 21.875em;
    height: 31.25em;
    border: 20px solid white;
    border-radius: 0.625em;
}

img{
    max-width: 100%;
}

.card img{
    width: 20em;
    margin-bottom: 1.25em;
}

.card h1{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.625em;
}

.card p{
    font-size: 1.2em;
    text-align: center;
    color: gray;
}

.footer{
    text-align: center;
}

.footer a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

.footer a:hover{
    text-decoration: underline;
}

@media (min-width: 500px) {

    main{
        width: 450px;
        margin: 4em auto 2em;
    }
}